<html>
<head>
  <title>Validate Form</title>
  <script src="../scripts/angular.js"></script>
  <script src="../scripts/jquery-2.1.4.js"></script> 
  <link rel="stylesheet" href="../css/style.css"></link>
  <script src="../scripts/10validateForm.js"></script> 
</head>
<body ng-app='myApp'>
  <h1>Sign Up</h1>
  <form name='addUserForm' ng-controller="AddUserController">
    <div ng-show='message'>{{message}}</div>
    <div>First name: <input name='firstName' ng-model='user.first' required></div>
    <div>Last name: <input ng-model='user.last' required></div>
    <div>Email: <input type='email' ng-model='user.email' required></div>
    <div>Age: <input type='number'
    ng-model='user.age'
    ng-maxlength='3'
    ng-min='1'></div>
    <div><button ng-click='addUser()' ng-disabled='!addUserForm.$valid'>Submit</button>
  </form>
</body>
</html>